In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/NISPUF17.csv")
mother_edu = df['EDUC1']
categories = ["menos que preparatoria","preparatoria","mÃ¡s que preparatoria pero sin tÃ­tulo","tÃ­tulo"]

proporciones = dict()
for category in categories:
    proporciones[category] = 0
for i in mother_edu:
    proporciones[categories[i-1]] += 1   
for category in categories:
    proporciones[category] = proporciones[category]/len(mother_edu)
# llave: valor
#proporciones["llave"] = "valor"
#proporciones

proporciones
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
from numpy import array

condition = (df['CBF_01']==1)|(df['CBF_01']==2)

df = df[["CBF_01","P_NUMFLU"]][condition].dropna()

# # necesitamos dos arrays
# # uno que indique nÃºmero de vacunas por cada bebÃ© que fue amamantado
# # uno que indique el nÃºmero de vacunas por cada bebÃ© que no fue amamantado

condition_si = df["CBF_01"]==1
condition_no = df["CBF_01"]==2

dosis_si = array(df[condition_si]["P_NUMFLU"].mean())
dosis_no = array(df[condition_no]["P_NUMFLU"].mean())

print("El nÃºmero promedio de vacunas que recibieron los bebÃ©s amamantados fue de",dosis_si)
print("El nÃºmero promedio de vacunas que recibieron los bebÃ©s no amamantados fue de",dosis_no)

El nÃºmero promedio de vacunas que recibieron los bebÃ©s amamantados fue de 1.8799187420058687
El nÃºmero promedio de vacunas que recibieron los bebÃ©s no amamantados fue de 1.5963945918878317

In [4]:
df = pd.read_csv("datasets/NISPUF17.csv")

# condicion1 = df["SEX"]==1
# print(df[condicion1]["SEX"].sum())

# condicion2 = df["SEX"]==2
# print(df[condicion2]["SEX"].sum())

# subconjunto 1: niÃ±os vacunados contra varicela que la contrajeron
# subconjunto 2: niÃ±as vacunadas contra varicela que la contrajeron
# subconjunto 3: niÃ±os vacunados contra varicela que no la contrajeron
# subconjunto 3: niÃ±as vacunadas contra varicela que no la contrajeron

condicion1 = (df["P_NUMVRC"]>=1)&(df["HAD_CPOX"]==1)&(df["SEX"]==1)
condicion2 = (df["P_NUMVRC"]>=1)&(df["HAD_CPOX"]==1)&(df["SEX"]==2)
condicion3 = (df["P_NUMVRC"]>=1)&(df["HAD_CPOX"]==2)&(df["SEX"]==1)
condicion4 = (df["P_NUMVRC"]>=1)&(df["HAD_CPOX"]==2)&(df["SEX"]==2)

# (niÃ±os que contrajeron varicela pero fueron vacunados)/(niÃ±os que no contrajeron varicela y fueron vacunados)
varicela = {'masculino': len(df[condicion1])/len(df[condicion3]), "fememino": len(df[condicion2])/len(df[condicion4])}
varicela

{'masculino': 0.009675583380762664, 'fememino': 0.0077918259335489565}

In [5]:
import scipy.stats as stats
import numpy as numpy
#stats.pearsonr

df = pd.read_csv("datasets/NISPUF17.csv")[["HAD_CPOX","P_NUMVRC"]].dropna()
condicion = (df["HAD_CPOX"]==1)|(df["HAD_CPOX"]==2)
df = df[condicion]

corr,pval = stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"])
corr

0.07044873460147864